
.marcas {
    padding: var(--padding-4xl) var(--padding-3xl);
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.marcas__titulo {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
    font-weight: 400;
    line-height: 1.2;
    color: var(--cor-coral);
}

.marcas__lista {
    max-width: var(--max-width-block);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    column-gap: var(--gap-4xl);
    row-gap: var(--gap-m);
    list-style-type: none;
}

.marcas__item {
    display: flex;
    width: 100%;
}

.marcas__link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.marcas__item img {
    object-fit: cover;
    filter: grayscale(100%) opacity(0.7);
    transition: all 0.3s ease;
}

.marcas__link:hover img{
    filter: grayscale(0%) opacity(1);
    transform: scale(1.1);
}

@media (max-width: 1000px) {

    .marcas {
        padding: var(--padding-xl) var(--padding-3xl); 
    }
}

@media (max-width: 600px) {

    .marcas {
        padding: var(--padding-xl) var(--padding-m); 
    }

    .marcas__titulo {
        font-size: var(--font-size-l);
    }
}